<div class="w-full md:w-3/4 md:mx-auto md:grid md:grid-cols-4 md:mt-8 p-4 md:p-16 gap-8 bg-white md:rounded-md">
    <div class="md:flex hidden flex-col gap-4 col-span-2 justify-between border-r pr-16">
        <div class="text-center text-2xl">Welcome to Secrets </div>
        <div class="flex flex-col gap-4">
            <button mat-flat-button  routerLink="email">Sign in by Email</button>
            <button mat-flat-button   routerLink="nostr">Sign in by Nostr</button>
        </div>
        
    </div>

    <div class="md:col-span-2">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">

            <a  mat-tab-link routerLink="email" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive" >Email</a>
            <a  mat-tab-link routerLink="nostr"  routerLinkActive #rlb="routerLinkActive"
            [active]="rlb.isActive">Nostr</a>
          </nav>
          <router-outlet #tabPanel></router-outlet>
    </div>
    

</div>
