<div class="grid grid-cols-6 bg-gray-100 h-full w-full">
    <div class="col-span-2 border-r-2 flex flex-col">
        <div class="p-4 flex flex-row items-center gap-4">
            <input [(ngModel)]="contactInput" type="text"  class="grow px-2 border border-gray-300 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">

            <button (click)="addContact()">Add</button>
        </div>
        <div class="grow relative">
            <div class="overflow-y-auto absolute top-0 right-0 bottom-0 left-0" *ngIf="contacts">
                <app-contacts-list-item 
                   *ngFor="let contact of contacts" 
                   [contact]="contact"
                   (select)="selectedContact = contact"
                   ></app-contacts-list-item> 

            </div>
            
        </div>
    </div>

    <div class="col-span-4 h-full flex flex-col justify-stretch items-stretch">
        
        <div *ngIf="selectedContact; else nochat"
        class="grow flex flex-col items-stretch justify-stretch"
        >   

            <div class="grow">
                
            </div>

            <div class="bg-white p-4 flex flex-row items-center gap-4 justify-stretch">
                <input [(ngModel)]="textInput" type="text"  class="grow px-2 border border-gray-300 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                <button (click)="send()" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Send</button>
              </div>
        </div>

        <ng-template #nochat>
            <div class="text-center mt-8">
                Select a contact to start chatting!
            </div>
        </ng-template>
    </div>
</div>
